<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pokemon">

    <application
        android:theme="@style/Base.Theme.AppCompat"
        tools:node="replace">

        <activity android:name="com.pokemon.ui.component.flexoptionscomponent.FlexOptionsComponentTestActivity" />
        <activity android:name="com.pokemon.ui.component.searchbarcomponent.SearchBarComponentTestActivity" />
    </application>
</manifest>
